.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.photographer_article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
  padding: 50px 0;
}
.photographer_name {
  font-size: 50px;

  color: #d3573c;
}
.photographer_location {
  font-size: 20px;
  color: #901c1c;
}

.photographer_moto {
  font-size: 20px;
  color: #282020;
}

/* button contact and send in modale */
.contact_button,
.send_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
/* button contact and send hover effect */
.contact_button:hover,
.send_button:hover {
  background-color: #d3573c;
  transition: 0.5s;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
#message {
  height: 300px;
  width: 100%;
}
*:focus {
  outline: none;
  box-shadow: 0 0 30px #f10303;
}

/* section trier par  */
.container_sortBy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
  padding: 50px 0;
}
.container_sortBy > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: normal;
  width: 100%;
}
.article_media_sortBy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
#trier_par {
  font-size: 20px;
  font-weight: bold;
}
#sortBy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 100%;
  border: none;
  background-color: #901c1c;
  color: white;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  width: 7rem;
  border-bottom: solid;
  border-color: white;
  text-align: center;
  padding: 10px;
  border-bottom: #fafafa 2px solid;
}

.container_sortBy_options_select {
  height: 60px;
}

#sortBy option {
  min-height: 50px;
}

/* aside total likes et prix/jour */

.photographer_aside {
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 300px;
  height: 8%;
  background-color: #db8876;
}
.photographer_aside_total {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: bold;
}
.photographer_aside_total_likes::after {
  font-family: "Font Awesome 5 Free";
  color: #901c1c;
  content: "\f004";
  font-weight: 400;
}

/* container of medias */
.photographer_media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  width: 90%;
  margin: 0 100px;
  padding: 50px 0;
}
.article_media {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
}
.article_media_container {
  width: 100%;
  height: 100%;
}
.article_media_container_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
/* hover effect*/
.article_media_container_card:hover {
  box-shadow: 0 0 30px #f10303;
  transition: 0.5s;
  transform: scale(1.05);
}
.article_media_container_card > img,
.article_media_container_card > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.article_media_container_card_title_and_price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.article_media_container_card_title {
  font-size: 20px;
  color: #901c1c;
  margin: 10px 0;
}

.article_media_container_card_price {
  font-size: 20px;
  color: #901c1c;
  margin: 10px 0;
}

.article_media_container_card_likes {
  font-size: 30px;
  cursor: pointer;
}
.article_media_container_card_likes::after {
  font-family: "Font Awesome 5 Free";
  color: #901c1c;
  content: "\f004";
  font-weight: 400;
}
.article_media_container_card_likes.isLiked::after {
  font-weight: bold;
}

/* lightbox */
.isHidden {
  display: none;
}

.lightbox {
  display: grid;
  align-content: center;
  justify-items: center;
}
.lightbox__container {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-areas:
    ". image  close "
    "back image next";
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 1fr 10fr 1fr;
  background-color: white;
  margin: 0px;
  width: 90%;
  height: 90%;
}

.lightbox__close {
  grid-area: close;
  font-size: 50px;
  color: rgb(151, 12, 12);
  cursor: pointer;
  height: 100px;
  border-color: white;
}
.lightbox__next {
  grid-area: next;
  font-size: 50px;
  color: rgb(151, 12, 12);
  cursor: pointer;
  height: 100px;
  align-self: center;
  justify-self: center;
  border-color: #fafafa;
}
.lightbox__title {
  font-size: 25px;
  color: rgb(151, 12, 12);
  align-self: flex-start;
  border-color: #fafafa;
}
.lightbox__prev {
  grid-area: back;
  font-size: 50px;
  color: rgb(151, 12, 12);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 100px;
  align-self: center;
  justify-self: center;
  border-color: #fafafa;
}
.lightbox__media__container {
  grid-area: image;
  grid-row-start: 1;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lightbox__media__container img {
  object-fit: contain;
  width: 85%;
  height: 80%;
  margin: 0;
}
.lightbox__media__container video {
  object-fit: contain;
  width: 90%;
  height: 90%;
  margin: 0;
}

.fa-chevron-right,
.fa-chevron-left,
.material-icons {
  font-size: 50px !important;
  color: rgb(151, 12, 12);
  cursor: pointer;
}
