
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}
/* logo hover effect */
.logo:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}
/* hover effect for photographer section */
.photographer_section article:hover {
    transform: scale(1.1);
    transition: 0.9s;
    cursor: pointer;
}
/* add rules in order to keep the ratio */
.article_cover {
   object-fit: cover;
   border-radius: 50%;
   max-width: 100%;
   height: auto;
}

.photographer_Id{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}
/* text deco none for the links */
.link_photographers {
    text-decoration: none;
}
.article_nom_photographe{
    color: #D3573C;
    font-size: 36px;
    margin: 0px;
}
/* modify localisation*/
.article_localisation {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    color: #D3573C;
    margin: auto;
}
.article_description{
    margin: auto;
    font-size: 10px;
}
/* modify in order to respect te design given */
.article_prix {
    color: #757575;
    font-size: 9px;
    font-weight: bold;
    margin: auto;
}
